<html>
   <head>
   	   <title>ChicGirl's blog</title>
   </head>
   <body>
      <div>
         <h1><a href="/">ChicGirl's Blog</a></h1>
      </div>

      <div>
         <p>published: 20.06.2022, 15:00</p>
         <h2><a href="">My first post</a></h2>
         <p>hello, there. Nice to meet you.</p>
         <h3><a href="">You can do it.</h3>
      </div>

      <div>
         <p>公開日: 2022/03/20, 15:03</p>
         <h2><a href="">二番目の投稿</a></h2>
         <p>こんにちは。よろしくお願いします。 </p>
      </div>
   </body>
</html>